<html>
    <head>
        <style>
            .d1{
                margin-top: 10px;
            }
            .d1,.img1{
                width: 400px;
                height: 300px;
                margin: auto;
                border: 2px solid red;
                text-align: center;
                align-items: center;
                justify-content: center;
            }
            .d2{
                width: 400px;
                height: 120px;
                margin: auto;
                text-align: center;
                border: 2px solid red;
                background-color: white;
                color:  black;
                align-items: center;
                justify-content: center;
            }
        </style>
    </head>
    <body style="background-image: url('https://th.bing.com/th/id/R.dabb052406b98ad53abf976db0679e31?rik=Es5Oobx0kFRC%2bg&riu=http%3a%2f%2f4.bp.blogspot.com%2f-cQ4XnoW4Ysc%2fTzbg3Jh25VI%2fAAAAAAAAA74%2fxFjSDny2SqU%2fs1600%2f21.Jpg&ehk=Q88y%2b7a98mHBLzs3%2fXLC4iuSw8LOmnic8Q%2bqgUPUcpg%3d&risl=&pid=ImgRaw&r=0'); 
    background-repeat: no-repeat; background-attachment: fixed; background-size: 3000px 1000px;">                     
        <div class="d1">
            <img src="https://static.wixstatic.com/media/1dbcca_5fdcbc8d0cd643189c1d7b2d2818f1d8~mv2.png/v1/crop/x_0,y_0,w_1000,h_577/fill/w_303,h_175,al_c,usm_0.66_1.00_0.01/Welcome.png" 
            class="img1">
        </div><br>
        <div class="d2">
                <div class="about">
                    <h2><b><i>GUESS AND GET THE ADVICE</i></b></h2>
                    
                    
                    A new user ? <a href="/signup">Signup</a><br>
                    Already a user? <a href="/signin">Signin</a>
                </div>
        </div>
        
    </body>
</html>