<html>
    <head>
        <style>
            .d1{
                width: 450px;
                background-attachment: white;
                padding-top: 10px;
                padding: 40px;
                margin: auto;
                color: black;
                margin-top: 2%;
                border: 4px solid darkgreen;
                background-color: white;
                text-align: center;
            }
        </style>
    </head>
    <body style="background-image: url('https://lh3.googleusercontent.com/proxy/1hzSwjlU0Opvtdf38JgaqjNmnSHK-cFbWVChoiTC-4drPsYoXD7qFmUaXpxlr5WN305yHPnFFKt4NszF9aTeP4b-BPHtz1GZhjD3uvcao2vyNpSQpwCD8r4kIYnPU6VT7O-QFpvOEvuKXQ7j1rcDA29Mbt4cq1tauB-guO9lRA=w1200-h630-p-k-no-nu'); 
    background-repeat: no-repeat; background-attachment: fixed; background-size: 2000px 1000px;">  
        <div class="d1">
            <h3 style="color: darkmagenta; font-size: 20px;"><b>Congratulations You have successfully Registered!<br></b></h3>
            <p><%= advice %></p>
        </div>
    </body>
</html>